<!DOCTYPE html>
<html lang='pt-br'>
<head>
    <meta charset='UTF-8'>
    <title>
        {% block titulo %}
        Pinterest Falso
        {% endblock %}
    </title> 
</head>
{% block body %}
<body>
    
<p>Fake Pinterest - Meu primeiro site com Python no ar<p> 

<p>Vamos continuar nosso site</p>    

{% block formulario %}
<form method='POST'>
{{ form.csrf_token }}

    {{ form.email.label() }} 
    {{ form.email() }}

    {{ form.senha.label() }} 
    {{ form.senha() }}

    {{ form.botao_confirmar() }}


</form>
{% endblock %}
</body>
{% endblock %}
</html>